body{
    background-color: beige;
    color: #1E1F35;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

#k{
    text-align: center;
    color: #1E1F35;
    text-decoration-style: dotted;
}

#cont
{
    margin:10%;
    border: groove black 5px;
    padding:2%;
}

#row{
    background-color: beige;
}